.row {
    display: flex;
}

.column {
    padding-right: 5px;
    padding-bottom: 10px;
    width: 100px;
}

.submit-btn {
    width: 100px;
    padding: 10px;
}

.form-container {
    display: grid;
    justify-content: center;

}

.header1 {
    display: flex;
    justify-content: center;
}

.table {
    width: 300px;
    border: 3px dotted black;
    padding: 25px;
    margin: 10px;
    border-radius: 10px;

}